<div class="test">   
    <h1>This is home component</h1>
    <h2>Trái cây</h2>
    <!-- <div *ngFor = "let item of traiCay; let i = index">
        <h4>{{i + 1}}. {{item.ten}}</h4>
    </div>
    <br> -->
    <!-- <table class="table">

        <tr>
            <th>STT</th>
            <th>Tên</th>
            <th>Giá</th>
            <th style="width: 300px !important;">Hạ giá</th>
        </tr>
        <tr *ngFor = "let item of traiCay; let i = index">
            <td>{{i + 1}}</td>
            <td>{{ item.ten | lowercase }}</td>
            <td class="right">
                <span [ngClass]="{ 'so-am' : item.gia < 0}">
                    {{ item.gia | currency:"VND" }}
                </span>
            </td>
            <td>
                <span>
                    {{item.haGia | onSale | uppercase}}
                </span>
            </td>
        </tr>
    </table> -->
    Tỉnh/Thành phố
    <select id="city" (change)="changeCity($event)">
        <option *ngFor="let data of vietnamData" value="{{data.city}}">
            {{data.city}}
        </option>
    </select>
    <br>
    Quận/huyện
    <select id="district">
        <option *ngFor="let district of districts" value="{{district}}">
            {{district}}
        </option>
    </select>
</div>
