<div class="test">   
    <h2>Đây là Home component</h2>
    <div *ngFor = "let item of traiCay; let i = index">
        <h4>{{i + 1}}. {{item.ten}}</h4>
    </div>
    <br>
    <table class="table">
        <tr>
            <th>STT</th>
            <th>Tên</th>
            <th>Giá</th>
            <th style="width: 300px !important;">Hạ giá</th>
        </tr>
        <tr *ngFor = "let item of traiCay; let i = index">
            <td>{{i + 1}}</td>
            <td>{{ item.ten | lowercase }}</td>
            <td class="right">
                <span [ngClass]="{ 'so-am' : item.gia < 0}">
                    {{ item.gia | currency:"VND" }}
                </span>
            </td>
            <td>
                <span>
                    {{item.haGia | onSale | uppercase}}
                </span>
            </td>
        </tr>
    </table>
</div>
